<p id="notice"><%= notice %></p>

<h1>Datos Usuario</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Clave</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumers.each do |consumer| %>
      <tr>
        <td><%= consumer.user.email %></td>
        <td><%= consumer.nombre %></td>
        <td><%= consumer.correo %></td>
        <td><%= consumer.telefono %></td>
        <td><%= consumer.clave %></td>
        <td><%= consumer.direccion %></td>
        <td><%= link_to 'Ver', consumer %></td>
        <td><%= link_to 'Editar', edit_consumer_path(consumer) %></td>
        <td><%= link_to 'Eliminar', consumer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_consumer_path %>
